section article {
  text-align: center;
}

#cabecera {
  display: flex;
  flex-direction: row;
  height: 210px;
}

#logo {
  margin: 0px;
  padding: 0px;
  height: 200px;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.Caja2 {
  width: 100%;
  height: auto;
  /* background: transparent; */
  display: flex;
  margin: 0px;
  flex-wrap: wrap;
  text-align: center;
  font-size: 200px;
  /*   text-align: center; */
  padding: auto;
}

.Caja3 {
  width: 1245px;
  height: 50px;
  background: black;
  color: rgba(192, 55, 55, 1);
  flex-direction: column;
  display: flex;
  margin: 0;
  text-align: center;
  font-size: 50px;
}

.button {
  border-radius: 10px;
  background: rgba(192, 55, 55, 0.5);
  color: rgba(192, 55, 55, 1);
  flex-direction: column;
  line-height: 40px;
  height: 87px;
  width: 300px;
  margin: 50px;
  font-size: 20px;
  font-family: roboto;
  text-align: center;
  display: flex;
}
